* {
    background-color: beige;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}

.header {
    background-color: rgb(13, 98, 13);
    text-align: center;
    color: rgb(13, 168, 202);
    font-size: 24px;
    

}

 .recipes-list,
 a  {
    color: rgb(13, 168, 202)
    
    
}

ul {
    
   list-style-type: none;
    
}

.image {
    background-color: darkseagreen;
    text-align: center;
}

.header p {
    text-align: left;
    color: rgb(5, 61, 5)
}